<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>
<body>
  {{!-- navbar --}}

  {{>navbar}}
    <!-- Main header-->


    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="row">
                    <div class="col-md-12 col-12 main_header_left  align-items-center" a>
                        
                    
                    <!-- Left header-->

                    
<figure class="error">
                            <img src="images/404.jpg" alt="Nishant" class="img-fluid" title="Nishant Mishra">
                        </figure>
                        <p>{{errmsg}} </p> 
                        <a href="/" ><button>Go Back</button></a>

                    </div>
                    <!-- Right header -->



                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
{{>footer}}
</body>

</html>