<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>
<body>
  {{!-- navbar --}}

  {{>navbar}}
    <!-- Main header-->


    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="row">
                    <div class="col-md-6 col-12 main_header_right  " align-item>
                        <figure>
                            <img  src="images/Nishant.jpg" alt="Nishant" class="img-fluid" title="Nishant Mishra">
                        </figure>
                    </div>
                    <!-- Left header-->

                    <div class="col-md-6 col-12 main_header_left  align-items-center   ">

                        <h1>I am a <span class="weathr">Full Stack Developer </span>, Designer and Freelancer</h1>
                        <a href="/weather" target="_Nishant"><button>About me</button></a>

                    </div>
                    <!-- Right header -->



                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
{{>footer}}
</body>

</html>
